<script>
    $(function () {
        $("#actives").on('click',"button",function(e){
            var ip_list = []
            var ip = e.target.name
            ip_list.push(ip)
            console.log(ip_list)
            var str = JSON.stringify(ip_list)
            $.ajax({
                type: "POST",
                url: "/pc/reflush",
                data: {'ip':str,'cmd':'getinfo'},
                dataType: 'JSON',
                success: function (data) {
                    console.log(data)
                    if (data.status == '0') {
                        toastr.success(data.msg)
                    }
                    else {
                        toastr.error(data.msg)
                    }
                }
            })
        })
    })
</script>