<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>PC信息</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example abc" >
                        <thead>
                        <tr>
                            <th style="width:100px;text-align:center;">节点IP</th>
                            <th style="text-align:center;">主机名</th>
                            <th style="text-align:center;">MAC地址</th>
                            <th style="text-align:center;">是否在线</th>
                            <th style="text-align:center;"><input type="checkbox" name="select_all">全选</th>
                        </tr>
                        </thead>
                        <tbody id="zoneinfo">
                        <tr>
                            <td align="center" style="vertical-align: middle" ></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center">
                                <input type="checkbox"  name="radio2" value="" data-number="">
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th style="width:100px;text-align:center;">节点IP</th>
                            <th style="text-align:center;">主机名</th>
                            <th style="text-align:center;">MAC地址</th>
                            <th style="text-align:center;">是否在线</th>
                            <th style="text-align:center;">全选</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>